@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(24, 27, 32, 0.15);
    border-radius: 4px;
  }
}
